/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	user-select: none; 
	/*Required to make elements draggable in old WebKit */
	-khtml-user-drag: element; 
	-webkit-user-drag: element; 
}


.draggablerow {
	height: 150px;
	width: 100%;
	float: left;
	border: 2px solid #666666;
	background-color: #ccc;
	margin: 5px;
	/* -webkit-border-radius: 10px;*/
	/* -ms-border-radius: 10px;*/
	/* -moz-border-radius: 10px;*/
	border-radius: 10px;
	/* -webkit-box-shadow: inset 0 0 3px #000;*/
	/* -ms-box-shadow: inset 0 0 3px #000;*/
	box-shadow: inset 0 0 3px #000;
	/* text-align: center;*/
	cursor: move;
}
.draggablerow header {
	color: #fff;
	text-shadow: #000 0 1px;
	box-shadow: 5px;
	text-align: center;
	/*padding: 5px;*/
	padding: 5px;
	/*background:#000000;*/
	background: -moz-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));/* mozilla firefox compliance */
	background: -webkit-gradient(linear, left top, right top,
	color-stop(0, rgb(20,20,20)),
	color-stop(0.50, rgb(80,80,80)),
	color-stop(1, rgb(20,20,20)));/* google chrome compliance */
	/*background: -ms-linear-gradient(left,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);  IE10+ */
	/* background: -webkit-linear-gradient(left center, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21));*/
	 background: -ms-linear-gradient(left, rgb(0,0,0), rgb(79,79,79), rgb(21,21,21)); /* IE10+ left! 'left center' doesn't work */
	/* border-bottom: 1px solid #ddd;*/
	/* -webkit-border-top-left-radius: 10px;*/
	/* -moz-border-radius-topleft: 10px;*/
	/* -ms-border-radius-topleft: 10px;*/
	border-top-left-radius: 10px;
	/* -webkit-border-top-right-radius: 10px;*/
	/* -ms-border-top-right-radius: 10px;*/
	/* -moz-border-radius-topright: 10px;*/
	border-top-right-radius: 10px;
}

.draggablerow.over {
	border: 2px dashed #000;
}













